@use "../abstracts";

.demo-section {
  height: calc(100vh - 100px);

  .demo-container {
    display: flex;
    justify-content: center;
    align-items: center;

    iframe {
      width: 80vw;
      height: 75vh;
      border-radius: 2rem;
    }
  }
}
