@use "../abstracts";

.footer {
  height: 18rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-top: 6rem;

  .logo-grp {
    margin: auto 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .logo-image {
      width: 30rem;
    }

    .copyright {
      font-size: abstracts.$font-tiny;
      color: white;
    }
  }

  .appreciation-text {
    font-size: abstracts.$font-mini;
    color: white;
    letter-spacing: 2px;
    align-self: center;
    justify-self: end;
  }

  ul {
    list-style: none;

    .unordered_links {
      text-decoration: none;
      color: #333;
      pointer-events: none;

      &:not(:last-child) {
        margin-bottom: 1rem;
      }
    }
  }
}
