@use "../abstracts";

.header {
  height: 80px;

  nav {
    display: flex;
    justify-content: space-between;
    height: 80px;
    width: 100%;
    padding: 0 2rem;
    align-items: center;
    transition: transform 0.5s ease-out;
    transform: traslateY(-100%);

    .header__logo-box {
      width: 14rem;
    }

    &.sticky {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      background: rgba(255, 255, 255, 0.5);
      backdrop-filter: saturate(180%) blur(20px);
      z-index: 8;
      transform: translateY(0);
    }

    .nav-links {
      font-size: abstracts.$font-large;
      width: 30rem;
      display: flex;
      // gap: 2rem;
      justify-content: space-between;
      list-style: none;
    }
  }
}
