@use "../abstracts";

.hero-page {
  max-height: 90vh;
  padding: 0 2rem;

  .hero-title {
    font-size: abstracts.$title-large;
    padding: 1rem 4rem 2rem 4rem;
  }
}

.hero-container {
  // border: solid 1px black;
  box-shadow: 0 0 20px 5px rgba(0, 0, 0, 0.15);
}
