@use "../abstracts";

#merch-section {
  padding: 2rem 4rem;

  .merch-title {
    padding: 2rem 4rem;
  }

  .flex {
    display: flex;
    justify-content: center;
    gap: 1.5rem;

    .merch-area {
      width: 160rem;
      gap: 2rem;
      display: grid;
      grid-template-columns: repeat(3, 1fr);

      .merch-card {
        --title-color: black;
        // --img-scale: 1.001;
        --link-icon-opacity: 0;
        // --card-color: rgba(0, 0, 0, 0.1);
        background: var(--card-color);
        border-radius: 1rem;
        overflow: hidden;
        transition: all ease-in-out 0.4s;
        transform-origin: center;

        figure {
          margin: 0;
          padding: 0;
          aspect-ratio: 16 / 9;
          overflow: hidden;

          img {
            max-width: 100%;
            transform: scale(var(--image-scale));
            transform-origin: center;
            transition: all ease-in-out 0.4s;
          }
        }

        .merch-body {
          padding: 1.5rem;
          background-color: var(--card-color);
          color: var(--title-color);
          transition: all 0.4s ease-in-out;

          h2 {
            text-align: center;
          }
        }
      }
    }
  }

  .merch-card:has(:hover, :focus) {
    // --card-color: #d1d1d13b;
    // --card-color: #fbf4cb;
    // --title-color: #19565c;
    --image-scale: 1.05;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px,
      rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
  }
}
