@use "../abstracts";

.trailer-page {
  width: 100vw;
  height: calc(100vh - 80px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;

  .vid-container {
    border-radius: 2rem;
    overflow: hidden;
    padding: 2rem 4rem;
  }
}
