@use "../abstracts";

.mandarin-text {
  line-height: 3rem;
  letter-spacing: 0.25rem;
}

.font-small {
  font-size: abstracts.$font-small;
}

.font-medium {
  font-size: abstracts.$font-large;
}

.small-text {
  font-size: abstracts.$font-small;
}
