@font-face {
  font-family: "BaksoSapi";
  src: url("/Fonts/BaksoSapi.otf") format("opentype");
}

@font-face {
  font-family: "POP";
  src: url("/Fonts/POP.ttf") format("truetype");
}

.mandarin-text {
  font-family: "POP", sans-serif;
}

body {
  font-family: "BaksoSapi", sans-serif;
}
