@use "../abstracts";

.hidden {
  display: none;
}

.margin-bottom {
  margin-bottom: abstracts.$margin-bottom;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  backdrop-filter: blur(5px);
  z-index: 100;
}

.disable-scroll {
  height: 100%;
  overflow-y: hidden;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}
